body {
  padding-top: 50px;
  min-width: 100%;
}
/*.navbar {
    background-color: pink;
    border-color: pink;
}*/

/*header*/
.starter-template {
  padding: 40px 15px;
  text-align: center;
  min-width: 100%;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: .9;
  background: url("http://i.huffpost.com/gen/3112924/original.jpg") no-repeat center center scroll;
  background-size: cover;
  color: white;
  height: 500px;
}

#name {
  padding-top: 144px;
}

/*end header*/

/*main content divs*/
.about {
  height: 325px;
  min-width: 100%;
}
#about {
  padding-top: 65px;
}
.projects {
  height: 500px;
  background-color: blue;
}
.resume {
  height: 500px;
  background-color: pink;
}
.contact {
  height: 325px;
  background-color: red;
}
/*end main content divs*/

/*center content*/
/*.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
/*center content*/
