body {
  padding-top: 50px;
  min-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
p, div {
  font-family: 'Lato', sans-serif;
}
.pad {
  padding-top: 42px;
  padding-bottom: 22px;
}

/*navbar*/

.navbar {
  transition: all 0.8s ease-out;
  margin-bottom:0;
}
.navbar.scrolled {
  background: rgba(255, 255, 255, 0);
}
nav.navbar.navbar-default {
  border-bottom: none;
}
/*end navbar*/

/*header*/

.jumbotron {
  background: url(../img/023_15.JPG) no-repeat center center scroll;
  color: white;
  margin-bottom:0;
  height: 600px;
}
.filter-me {
  opacity: .9;

}
#name {
  padding-top: 144px;
}
/*end header*/


/*main content divs*/

.about {
  height: 500px;
  min-width: 100%;
}

/* end about */

.projects {
  color: white;
  background-color: rgb(82,165,127);
  background-image:
      linear-gradient(
          #859398,
          #283048
      );
  min-width: 100%;
}
.outer {
  padding-top: 5%;
  padding-bottom: 8%;
  position: relative;
}
.projectpad {
  padding-bottom: 10rem;
}
.thumbnail {
  border: 0 none;
  box-shadow: none;
  background: transparent;
}
img {
  opacity: .9;
}
img:hover {
  opacity: .6;
}
/* end projects */

/*contact content*/

.contact {
  height: 500px;
  color: white;
  background-color: rgb(23,24,30);
  margin: 0 auto;
  max-width: 100%;
}
.contactpad {
  padding-top: 50px;
  padding-bottom: 20px;
}
a {
  color: white;
}
a:link {
  text-decoration: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
/*end contact content*/
